$greyish: #fdfdfd;
$pinkish: #ffcef3;
$purpleish: #cabbe9;
$blueish: #e2f3f5;


.App{
  background: $blueish;
}

#goToSearchButton{
	border-radius: 0px;
	margin: 20px;
}
#productCol{
	margin-bottom :20px;
}